<div class="container">
    <div style="width:240px; height: 180px;"></div>
    <div  style="text-align: center; color: rgb(244, 241, 246); ">
        <h3><u>{{title}} </u></h3>
    </div>
    <div style="text-align: center; padding: 20px 0px;">
        <button (click)="OnAnimate()">SUSANO!</button>
    </div>
</div>
<div class="container1">
    <div style="width:240px; height: 180px;"></div>
    <div  style="text-align: center; color: rgb(244, 241, 246); ">
        <h3><u>{{titles}}</u> </h3>
    </div>
    <div style="text-align: center; padding: 20px 0px;">
        <button (click)="OnAnimate()">GHENJUTSU!</button>
    </div>
</div>